<div class="container">
  <div class="user-posts-title">
    <h2>My Posts:
      <span class="label">{{ userPosts.length }}</span></h2>
  </div>
  <div class="spacer"></div>

  <button class="btn btn-default"
          data-animation="am-fade-and-scale"
          data-placement="center"
          data-template-url="app/main/addPostModal.html"
          bs-modal="showModal">Add Post</button>

    <!-- Angular Grid -->
    <ul class="dynamic-grid angular-grid"
          angular-grid="posts"
          grid-width="275"
          gutter-size="10"
          angular-grid-id="gallery"
          refresh-on-img-load="true" >
      <li data-ng-repeat="post in userPosts"
          class="grid"
          ng-cloak>
        <a ui-sref="post ({ postId: post._id })"
            class="postLink">
          <img ng-src="{{ post.image }}"
                  class="grid-img"
                  data-actual-width="{{ post.actualWidth }}"
                  data-actual-height="{{ post.actualHeight }}" />
          <div class="post-description-trim">
            {{ post.description.substr(0,100) }}
          </div>

          <div class="titleClass">
            {{ post.title }}
          </div>
        </a>
        <a href="#"
             class="like-post"
             ng-click="addLike(post)">
          <i class="fa fa-2x fa-thumbs-o-up pull-left icon-like"></i></a>
            <span class="likeCount">{{ post.upVotes }}</span>
                <a href="#"
                     ng-click="editPost(post)"
                     class="edit-post"
                     data-animation="am-fade-and-scale"
                     data-template-url="app/myPosts/edit_post_modal.html"
                     bs-modal="showModal">
                  <i class="fa fa-2x fa-pencil pull-right icon-edit"></i></a>
                <a href="#"
                     class="edit-post"
                     ng-click="delete(post)">
                   <i class="fa fa-2x fa-trash-o pull-right icon-edit"
                       data-title="Permanently remove post"
                       bs-tooltip></i></a>
      </li>
    </ul>
  </div>
